html{
font-family:Arial,Helvetica,sans-serif;
line-height:1.15;
-ms-text-size-adjust:100%;
-webkit-text-size-adjust:100%}
body{
background: #FAF2D6;
color: #302E2D;
margin:0
}
article,aside,footer,header,nav,section{display:block}

header{
width: 100%;
height: 200px;
background-color: #494949;
color: #fff;
border-top: 4px solid #009688;
border-bottom: 4px solid #FF9828;
/* position: fixed; */
}
a{text-decoration:none; color: #1e6bb8;}
/* background-color: transparent; */
/* latin */
@font-face{
font-family: 'Monoton';
font-style: normal;
font-weight: 400;
src: url(https://fonts.gstatic.com/s/monoton/v10/5h1aiZUrOngCibe4TkHLQg.woff2) format('woff2');
}

.container{
padding: 0 30px;
font-size: 16pt;
}
.container p{
font-size: 16px;
}
.name{
text-align: center;
margin-top: 0;
margin-bottom: .1rem;
font-weight: 400;
font-family: Monoton,Helvetica,Arial,sans-serif;
font-size: 6rem;
/*
background: #5c258d;
background: -webkit-linear-gradient(to left,#5c258d ,#4389a2);
background: linear-gradient(120deg,#5c258d ,#4389a2);
*/
}

.page-header{
color: #fff;
text-align: center;
/*
background: #5c258d;
background: -webkit-linear-gradient(to left,#5c258d ,#4389a2);
background: linear-gradient(120deg,#5c258d ,#4389a2);
*/
}


hr.fat{
position: relative;
height: 10px;
background-color: #05519d;
margin: 0 auto;
padding: 0;
}
footer{
margin-top: 120px;
padding: 30px 60px;
background: #2C3541;
color: #fff;
border-top: 4px solid #FF9828;
border-bottom: 4px solid #009688;
}
.h{
margin-top: 0px;
margin-bottom: 0px;
border: 0;
border-top: 1px solid #eee;
border-bottom: solid 5px #f56a6a;
}
.tag{
font-family: Helvetica, Arial, sans-serif;
background: #588fe5;
display: inline-block;
color: #fff;
position: relative;
padding: 10px;
border-top-left-radius: 4px;
border-bottom-left-radius: 4px;
margin: 0 70px 0 0;
text-decoration: none;
}
.orange{background-color: #e45c21;}
.acor-container{margin: 20px 0;}
.acor-container .acor-body{
width: calc(100% - 40px);
margin: 0 auto;
height: 0;
color: rgba(0, 0, 0, 0);
background-color: #BFE2FF;
line-height: 18px;
padding: 0 30px;
box-sizing: border-box;
transition: color 0.5s, padding 0.5s;
overflow: hidden;
font-family: Verdana, sans-serif; 
font-size: 16px;
box-shadow: 0 4px 8px rgba(0,0,0,0.2), 0 10px 16px rgba(0,0,0,0.2);
}
.acor-container .acor-body p{margin: 0 0 10px;}
.acor-container label{
cursor: pointer;
background-color: #337AB7;
display: block;
padding: 15px 20px;
width: 100%;
color: #BFE2FF;
font-weight: 300;
box-sizing: border-box;
z-index: 100;
font-family: Verdana, sans-serif;   
font-size: 18px;
margin: 0 0 5px;
transition: color .35s;
}
.acor-container label:hover{color: #FFF;}
.acor-container input{display: none;}
.acor-container label:before{
content: '\276F';
float: right;
}
.acor-container input:checked + label{
background-color: #285f8f;
color: #FFF;
box-shadow: 0 8px 26px rgba(0,0,0,0.4), 0 28px 30px rgba(0,0,0,0.3);
}
.acor-container input:checked + label:before {
transition: transform .35s;
transform: rotate(90deg);
}
.acor-container input:checked + label + .acor-body {
height: auto;
margin-top: -5px;
color: #000;
padding: 20px 30px 10px;
}
